@{
    ViewBag.Title = "SSO Error";
}

<div class="row">
    <div class="offset-2 col-8">
        <h2 class="text-center">Error occured during authentication via SSO.</h2>
        <h2 class="text-center">Please try again</h2>
    </div>
</div>