@model DemoApps.Shared.Models.UserViewModel
@{
    ViewBag.Title = "Profile";
}

<div class="row">
    <div class="offset-2 col-8">
        <h2 class="text-center">Profile</h2>
        <hr />
        <p class="lead">Id: @Model.Id</p>
        <p class="lead">Username: @Model.UserName</p>
    </div>
</div>